<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% if page.layout == 'home' %}
    <meta name="description" content="{{ page.title }}">
    {% endif %}
    <title>
    {% if page.title == site.title %}
    {{ page.title }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}ico/touch-icon-144.png">
    <link rel="shortcut icon" href="{{ page.base_url }}ico/favicon.ico">
    <!-- Vendor CSS -->
    <!-- drawer is work without having to load the bootstrap. However, there is a need to adjust the style. -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//rawgithub.com/blivesta/ashiba/master/archive/0.3.1/css/ashiba.min.css">
    <!-- drawer CSS -->
    <link rel="stylesheet" href="{{ page.base_url }}css/drawer.css">
    <style>
    .site-masthead {
    background-color: #d90034;
    background-image: -webkit-linear-gradient(45deg, #f56314 0%, #d90034 100%);
    background-image: -o-linear-gradient(45deg, #f56314 0%, #d90034 100%);
    background-image: linear-gradient(45deg, #f56314 0%, #d90034 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f56314, endColorstr=#d90034, GradientType=0);
    }
    </style>
    <!-- Google analytics -->
    <script src="//git.blivesta.com/js/ga.js"></script>
    <!-- Vendor js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- drawer js -->
    <script src="{{ page.base_url }}js/drawer.js"></script>
    <script>
      
      var chengeClass = function(valClass) {
        switch(valClass) {
          case 'drawer-left':
            $("#drawer").removeClass("drawer-right drawer-responsive").addClass(valClass).drawer("open");
            $('.js-trigger').attr('disabled', false);
          break;
          case 'drawer-right':
            $("#drawer").removeClass("drawer-left drawer-responsive").addClass(valClass).drawer("open");
            $('.js-trigger').attr('disabled', false);
          break;
          case 'drawer-left drawer-responsive':
            $("#drawer").removeClass("drawer-right drawer-open").addClass(valClass).drawer("resize");
            $('.js-trigger').attr('disabled', true);
          break;
          case 'drawer-right drawer-responsive':
            $("#drawer").removeClass("drawer-left drawer-open").addClass(valClass).drawer("resize");
            $('.js-trigger').attr('disabled', true);
        }
      };
    
      $(document).ready(function(){
          
        $('#drawer').drawer();
                          
        $('.js-trigger').click(function(){
          var selectVal = $('.js-select').val();
          chengeClass(selectVal);
        });
        $('.js-select').change(function(){
          var valClass = $(this).val();
          chengeClass(valClass);
        });
      });
            
    </script>
  </head>