.drawer-right .drawer-main {
  right: calc(0 - var(--drawer-width-phone));
  transition: var(--drawer-transition);
}

.drawer-right.drawer-open .drawer-main {
  right: 0;
}

/* hamburger */
.drawer-right .drawer-hamburger {
  right: 0;
  transition: var(--drawer-transition);
}

.drawer-right.drawer-open .drawer-hamburger {
  right: var(--drawer-width-phone);
}
