/* position
 * -------------------------------------- */
.drawer-top .drawer-main {
  width: 100%;
  height: auto;
  max-height: 100%;
  transition: var(--drawer-transition);
  transform: translate3d(0, -100%, 0);
}

.drawer-top.drawer-open .drawer-main {
  transform: translate3d(0, 0, 0);
}


/* hamburger position
 * -------------------------------------- */
.drawer-top .drawer-hamburger {
  right: 0;
}
.drawer-top.drawer-open .drawer-hamburger {
  z-index: var(--drawer-hamburger-zIndex);
  right: 0;
}
