@drawer-width-phone:       280px;
@drawer-width-tablet:      150px;
@drawer-width-desktop:     @drawer-width-phone;
@drawer-ease:              cubic-bezier(0.190, 1.000, 0.220, 1.000);
@drawer-duration:          .4s;
@drawer-upper-zIndex:      1100;
@drawer-toggle-zIndex:     1000;
@drawer-nav-bg-color:      #222;
@drawer-hamberger-bg-color:#ddd;

@import "core.less";
@import "nav.less";
@import "hamberger.less";
@import "responsive.less";