.drawer-header {
  button {
    border: 0;
    background: 0;
  }
}
.drawer-hamberger {
  position: fixed;
  display: block;
  top: 0;
  padding: 20px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 0;
  z-index: @drawer-toggle-zIndex;
  outline: 0;
  span.hamberger {
  position: relative;
  display: block;
  margin-top: 10px;
  }
  span.hamberger,
  span.hamberger:before,
  span.hamberger:after {
    height: 3px;
    width: 100%;
    border-radius: 1px;
    background-color: @drawer-hamberger-bg-color;
    transition: all @drawer-duration @drawer-ease;
  }
  span.hamberger:before,
  span.hamberger:after {
    position: absolute;
    content: " ";
    top: -10px;
    left: 0;
  }
 span.hamberger:after {
   top: 10px;
  }
  span.hamberger {
    .drawer-open & {
      background-color: transparent;
    }
  }
  span.hamberger:before,
  span.hamberger:after {
    .drawer-open & {
      top: 0;
    }
  }
  span.hamberger:before {
    .drawer-open & {
      transform: rotate(45deg);
    }
  }
  span.hamberger:after {
    .drawer-open & {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    cursor: pointer;
  }
}