/*!------------------------------------*\
    Top
\*!------------------------------------*/

.drawer--top .drawer-nav {
  width: 100%;
  height: auto;
  max-height: var(--drawer-top-nav-maxHeight);
  transform: translate3d(0, -100%, 0);
}

.drawer--top.drawer-open .drawer-nav {
  transform: translate3d(0, 0, 0);
}

.drawer--top.drawer-open .drawer-menu {
  padding-bottom: 0;
}

/*! hamburger */
.drawer--top .drawer-hamburger {
  right: 0;
}

.drawer--top.drawer-open .drawer-hamburger {
  right: 0;
}
