.drawer--right .drawer-nav {
  right: 0;
  transform: translate3d(var(--drawer-width), 0, 0);
}

.drawer--right.drawer-open .drawer-nav {
  right: 0;
  transform: translate3d(0, 0, 0);
}

/* hamburger */
.drawer--right .drawer-hamburger {
  right: 0;
  transform: translate3d(0, 0, 0);
}

.drawer--right.drawer-open .drawer-hamburger {
  transform: translate3d(calc(0 - var(--drawer-width)), 0, 0);
}

/* navbar */
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  transform: translate3d(0, 0, 0);
}
