/* main
 * -------------------------------------- */
body.drawer-navbar.drawer-fixed {
  padding-top: 0;
}

.drawer-main {
  position: fixed;
  z-index: var(--drawer-main-zIndex);
  top: 0;
  overflow: hidden;
  width: var(--drawer-width-phone);
  height: 100%;
}

.drawer-left .drawer-main {
  left: -var(--drawer-width-phone);
  transition: var(--drawer-transition);
  transform: translate3d(-var(--drawer-width-phone), 0, 0);
}
.drawer-left.drawer-open .drawer-main {
  left: 0;
  transform: translate3d(0, 0, 0);
}

.drawer-right .drawer-main {
  right: -var(--drawer-width-phone);
  transition: var(--drawer-transition);
  transform: translate3d(var(--drawer-width-phone), 0, 0);
}
.drawer-right.drawer-open .drawer-main {
  right: 0;
  transform: translate3d(0, 0, 0);
}

.drawer-top .drawer-main {
  width: 100%;
  height: auto;
  max-height: 100%;
  transition: var(--drawer-transition);
  transform: translate3d(0, -100%, 0);
}

.drawer-top.drawer-open .drawer-main {
  transform: translate3d(0, 0, 0);
}

/* hamburger
 * -------------------------------------- */
.drawer-left .drawer-hamburger {
  left: 0;
  transition: var(--drawer-transition);
  transform: translate3d(0, 0, 0);
}
.drawer-left.drawer-open .drawer-hamburger {
  transform: translate3d(var(--drawer-width-phone), 0, 0);
}

.drawer-right .drawer-hamburger {
  right: 0;
  transition: var(--drawer-transition);
  transform: translate3d(0, 0, 0);
}
.drawer-right.drawer-open .drawer-hamburger {
  transform: translate3d(-var(--drawer-width-phone), 0, 0);
}

.drawer-top .drawer-hamburger {
  right: 0;
}
.drawer-top.drawer-open .drawer-hamburger {
  z-index: var(--drawer-hamburger-zIndex);
  right: 0;
}

/* upper
 * -------------------------------------- */
.drawer-overlay-upper {
  position: fixed;
  z-index: var(--drawer-upper-zIndex);
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,.5);
  background-color: rgba(0,0,0,.5);
}
.drawer-open .drawer-overlay-upper {
  display: block !important;
}
