.drawer-default .drawer-main {
  position: fixed;
  z-index: var(--drawer-default-zIndex);
  top: 0;
  overflow: hidden;
  width: var(--drawer-width-phone);
  height: 100%;
}

.drawer-default .drawer-main a,
.drawer-default .drawer-main a:hover {
  text-decoration: none;
}

.drawer-default .drawer-main a,
.drawer-default .drawer-main span,
.drawer-default img.drawer-brand {
  display: block;
}

.drawer-default a.drawer-brand {
  font-size: 1.5rem;
  padding: calc(var(--drawer-default-padding) * 1.5) var(--drawer-default-padding);
}

.drawer-default ul.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-default ul.drawer-menu a,
.drawer-default ul.drawer-menu span {
  padding: var(--drawer-default-padding);
}

.drawer-default ul.drawer-menu ul.drawer-menu a,
.drawer-default ul.drawer-menu ul.drawer-menu span {
  padding-left: calc(var(--drawer-default-padding) * 2);
}

/* dropdown */
.drawer-default .dropdown-menu {
  position: absolute;
  z-index: var(--drawer-dropdown-zIndex);
  display: none;
  border: 0;
  box-shadow: none;
}

.drawer-default .dropdown.open > .dropdown-menu {
  position: static;
  display: block;
  float: none;
  width: auto;
}
