/* dropdown */
.drawer-dropdown-menu {
  background-color: var(--drawer-dropdown-bgColor);
  display: none;
  margin: 0;
  padding: 0;
  width:100%;
  box-sizing: border-box;
}

.drawer-dropdown-menu > li {
  width:100%;
  list-style: none;
}

.drawer-dropdown-menu-item {
  color: var(--drawer-dropdown-color);
  display: block;
  padding:0;
  line-height: var(--drawer-navbar-height);
  padding-left: calc(var(--drawer-gutter-x) * 2);
  padding-right: var(--drawer-gutter-x);
}

.drawer-dropdown-menu-item:hover,
.drawer-dropdown-menu-item:focus {
  color: var(--drawer-dropdown-hover-color);
  background-color: var(--drawer-dropdown-hover-bgColor);
}

/* open */
.drawer-dropdown.open > .drawer-dropdown-menu {
  display: block;
}

/* drawer-caret */
.drawer-dropdown .drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  transition: transform .2s ease, opacity .2s ease;
  transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* open */
.drawer-dropdown.open .drawer-caret {
  transform: rotate(180deg);
}
