.drawer-default {
  background-color: var(--drawer-nav-bg-color);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, .5);
}

.drawer-default li,
.drawer-default a,
.drawer-default .drawer-brand {
  position: relative;
  display: block;
}

.drawer-default a {
  text-decoration: none;
}

.drawer-default a:hover,
.drawer-default a:focus {
  text-decoration: underline;
}

.drawer-default .drawer-brand a {
  font-size: 22px;
  padding: 20px 15px;
  color: var(--drawer-hover-color);
}

.drawer-default a:hover {
  color: var(--drawer-text-color);
}

.drawer-default .drawer-brand > img {
  display: block;
}

.drawer-footer {
  line-height: var(--drawer-nav-lineHeight);
  position: relative;
  height: var(--drawer-nav-height);
  padding: 0 15px;
  background-color: transparent;
}

.drawer-default .drawer-footer span:before,
.drawer-default .drawer-footer span:after {
  display: block;
  content: ' ';
}

.drawer-default ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-default .drawer-menu-item {
  font-size: 18px;
  padding: 15px 15px 0;
  color: var(--drawer-text-color);
}

.drawer-default .drawer-menu-item.disabled a {
  color: #333;
}

.drawer-default .drawer-menu-item.disabled a:hover,
.drawer-default .drawer-menu-item.disabled a:focus {
  cursor: not-allowed;
  color: #333;
  background-color: transparent;
}

.drawer-default .drawer-menu-item a {
  color: var(--drawer-link-color);
}

.drawer-default .drawer-menu-item a:hover,
.drawer-default .drawer-menu-item a:focus {
  color: var(--drawer-hover-color);
  background-color: transparent;
}

.drawer-default .drawer-menu-item a img {
  max-width: none;
}

.drawer-default .drawer-submenu {
  margin-bottom: 20px;
}

.drawer-default:last-child {
  margin-bottom: 0;
}

.drawer-default .drawer-submenu-item {
  padding: 0;
}

.drawer-default .drawer-submenu-item a {
  font-size: 14px;
  line-height: var(--drawer-nav-lineHeight);
  height: var(--drawer-nav-height);
}

.drawer-default .drawer-submenu-item a:hover,
.drawer-default .drawer-submenu-item a:focus {
  color: var(--drawer-hover-color);
}

/* dropdown */
.drawer-default .dropdown-menu {
  position: absolute;
  z-index: var(--drawer-dropdown-zIndex);
  display: none;
  border: 0;
  background-color: var(--drawer-nav-bg-color);
  box-shadow: none;
}

.drawer-default .dropdown.open > .dropdown-menu {
  position: static;
  display: block;
  float: none;
  width: auto;
}

@media (--drawer-phone) {
  .drawer-default a:hover,
  .drawer-default a:focus {
    text-decoration: none;
    color: var(--drawer-link-color) !important;
  }
}
