$drawer-width-phone:         280px !default;
$drawer-width-tablet:        150px !default;
$drawer-width-desktop:       $drawer-width-phone !default;

$drawer-nav-height:          50px !default;
$drawer-nav-lineHeight:      50px !default;

$drawer-nav-bg-color:        #222 !default;
$drawer-navbar-bg-color:     #fff !default; // navbar desktop only
$drawer-hamburger-bg-color:  #ddd !default;
$drawer-text-color:          #555 !default;
$drawer-link-color:          #888 !default;
$drawer-hover-color:         #fff !default;
$drawer-dropdown-link-color: #ddd !default;
$drawer-dropdown-hover-color:#fff !default;

$drawer-main-zIndex:         5300 !default;
$drawer-upper-zIndex:        5200 !default;
$drawer-toggle-zIndex:       5100 !default;
$drawer-navbar-static-zIndex:5000 !default;
$drawer-navbar-fixed-zIndex: 5100 !default;
$drawer-dropdown-zIndex:     5000 !default;
$drawer-hamburger-zIndex:    5400 !default;

$drawer-ease:                cubic-bezier(0.190, 1.000, 0.220, 1.000) !default;
$drawer-duration:            .4s !default;

@import "core";
@import "hamburger";
@import "nav";
@import "navbar";
@import "dropdown";
@import "accessibility";
@import "responsive";
